@charset UTF-8;

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family:Josefin Sans;
	font-weight:300;
	transition:.3s;
	}
	
*:focus{
	outline:none;
	}
	
.attribution{
	font-size:10px;
	text-align:center;
	padding:10px;
	background:linear-gradient(45deg,#444 0%,#222 50%,#069 50%,#046 100%);
	color:#ddd;
	position:absolute;
	bottom:0;
	width:100%;
	}
	
.attribution a{
	color:#ee0;
	text-decoration:none;
	}
	
.attribution a:hover{
	text-decoration:underline;
	}
	
body{
	min-height:100vh;
	width:100%;
	position:relative;
	padding-bottom:10vh;
	}
	
.cl{
	clear:both;
	}
	
#bg{
	width:100%;
	height:20vw;
	position:absolute;
	top:0;
	left:0;
	z-index:1;
	}
	
#main{
	position:relative;
	z-index:2;
	max-width:min(600px,88%);
	margin:auto;
	}

#top{
	padding-top:5vw;
	padding-bottom:3.5vw;
	}
	
#logo{
	font-size:2.5rem;
	text-transform:uppercase;
	font-weight:700;
	color:#fff;
	letter-spacing:.8rem;
	float:left;
	}
	
#switch{
	float:right;
	}
	
#sw-icon{
	background:transparent;
	border:0;
	cursor:pointer;
	}
	
#new{
	border-radius:5px;
	box-shadow:0px 15px 30px rgba(0,0,0,.2);
	}
	
.todo,
.new{
	width:100%;
	}
	
.todo{
	position:relative;
	}
	
.check{
	padding:15px;
	float:left;
	}
	
.checkbox{
	width:26px;
	height:26px;
	border-radius:50%;
	padding-top:6px;
	position:relative;
	border:0;
	cursor:pointer;
	}
	
.checkbox:hover,
.completed .checkbox{
	background:linear-gradient(135deg,hsl(192, 100%, 67%),hsl(280, 87%, 65%)) !important;
	}
	
.completed .mytodo{
	text-decoration:line-through;
	}	

.checkbox img{
	width:15px;
	}
	
.active .checkbox:before{
	position:absolute;
	content:'';
	top:1px;
	left:1px;
	bottom:1px;
	right:1px;
	border-radius:50%;
	}
	
.active .checkbox img{
	visibility:hidden;
	opacity:0;
	}
	
.add{
	width:calc(100% - 66px);
	height:56px;
	float:left;
	}
	
.add input{
	height:100%;
	width:100%;
	background:transparent;
	border:0;
	font-size:1.1rem;
	font-weight:300;
	}
	
#todos{
	margin-top:2rem;
	border-radius:5px;
	box-shadow:0px 15px 30px rgba(0,0,0,.2);
	}
	
.mytodo{
	height:56px;
	width:calc(100% - 80px);
	display:flex;
	align-items:center;
	float:left;
	overflow-x:auto;
	}
	
.del{
	position:absolute;
	right:0;
	height:100%;
	top:0;
	border:0;
	opacity:0;
	z-index:3;
	cursor:pointer;
	}	
	
.del:hover{
	opacity:1;
	}
	
.del img{
	height:30%;
	padding:0 20px;
	}

#stat{
	padding:15px;
	font-size:.9rem;
	}
	
#howmany{
	float:left;
	width:25%;
	}
	
#filter{
	width:50%;
	float:left;
	text-align:center;
	}
	
#filter span{
	padding:0 4px;
	font-weight:400;
	cursor:pointer;
	}
	
.chosen{
	color: hsl(220, 98%, 61%);
	}

#clear{
	width:25%;
	float:left;
	text-align:right;
	cursor:pointer;
	}
	
#info{
	margin-top:3rem;
	font-size:.8rem;
	font-weight:400;
	text-align:center;
	}
	
body.theme0{
	background:hsl(235,21%,11%);
	}
	
body.theme0 #bg{
	background-image:url(images/bg-desktop-dark.jpg);
	background-size:cover;
	background-position:center center;
	}
	
body.theme0 .active .checkbox{
	background:rgba(255,255,255,.1);
	}
	
body.theme0 #new,
body.theme0 #todos,
body.theme0 .active .checkbox:before{
	background:hsl(235, 24%, 19%);
	}
	
body.theme0 .add input,
body.theme0 .mytodo,
body.theme0 #filter span:not(.chosen):hover,
body.theme0 #clear:hover{
	color:#fff;
	}
	
body.theme0 #howmany,
body.theme0 #clear,
body.theme0 #filter,
body.theme0 #info,
body.theme0 .completed .mytodo{
	color:rgba(255,255,255,.3);
	}
	
body.theme0 .todo + .todo{
	border-top:1px solid rgba(255,255,255,.1);
	}
	
body.theme0 .del{
	background:linear-gradient(to left,hsl(235, 24%, 19%) 0%,hsl(235, 24%, 19%) 50%,transparent 100%);
	}
	
body.theme0 .mytodo::-webkit-scrollbar{
	background:rgba(0,0,0,0);
	height:5px;
	}
	
body.theme0 .mytodo::-webkit-scrollbar-thumb{
	background:rgba(255,255,255,.2);
	}
	
body.theme1{
	background:hsl(236, 33%, 92%);
	}
	
body.theme1 #bg{
	background-image:url(images/bg-desktop-light.jpg);
	background-size:cover;
	background-position:center center;
	}
	
body.theme1 .active .checkbox{
	background:rgba(0,0,0,.1);
	}
	
body.theme1 #new,
body.theme1 #todos,
body.theme1 .active .checkbox:before{
	background:hsl(0,0%,98%);
	}
	
body.theme1 #howmany,
body.theme1 #clear,
body.theme1 #filter,
body.theme1 #info,
body.theme1 .completed .mytodo{
	color:rgba(0,0,0,.6);
	}
	
body.theme1 .add input,
body.theme1 .mytodo,
body.theme1 #filter span:not(.chosen):hover,
body.theme1 #clear:hover{
	color:#000;
	}
	
body.theme1 .todo + .todo{
	border-top:1px solid rgba(255,255,255,.1);
	}
	
body.theme1 .del{
	background:linear-gradient(to left,hsl(0,0%,98%) 0%,hsl(0,0%,98%) 50%,transparent 100%);
	}
	
	
@media screen and (max-width: 699px){
	#bg{
		height:50vw;
	}
	
	#top{
		padding-top:12.5vw;
		padding-bottom:8.5vw;
	}
	
	#logo{
		font-size:1.5rem;
	}
	
	.check{
		padding:10px;
	}
	
	.checkbox{
		width:24px;
		height:24px;
	}
	
	.add{
		height:44px;
		width:calc(100% - 52px);
	}
	
	.add input{
		font-size:1rem;
	}
	
	#todos{
		margin-top:1rem;
	}
	
	.mytodo{
		height:44px;
	}
	
	.del{
		opacity:1;
	}
	
	#stat{
		position:relative;
	}
	
	#howmany{
		width:40%;
	}
	
	#clear{
		width:60%;
	}
	
	#filter{
		position:absolute;
		bottom:-30px;
		transform:translateY(2rem);
		width:100%;
		left:0;
		padding:15px;
		border-radius:5px;
		box-shadow:0px 15px 30px rgba(0,0,0,.2);
	}
	
	body.theme0 #filter{
		background:hsl(235, 24%, 19%);
	}
	
	body.theme1 #filter{
		background:hsl(0,0%,98%);
	}
	
	#filter span{
		padding:0 .5rem;
	}
	
	#info{
		margin-top: 8rem;
	}
}